.sidebar{
    flex:0.6;
}
.icon{
    display:flex;
        position:fixed;
       color:white;
       background-color: #282c34;
        top: -30;
       left:400;
        right: 600px;
        margin: '0 auto';
      
}
.h3{
    align-items: center;
}